.wrap {
    min-width: 90vw;
    height: 100vh;
    background-color: aquamarine;
    padding-top: 4vw;
    display: grid;
    grid-template-columns: repeat(3, 4vw);
    justify-content: center;
    column-gap: 4vw;
}
input {
    width: 40px;
    height: 40px;
    font-size: 20px;
    cursor: pointer;
}

.hide {
    visibility: hidden;
}